@{
    ViewData["Title"] = "Home Page";
}

<style>
    .content{
        border:1px solid green;
		margin: 0 auto;

    }
  

</style>

<header>



</header>

<main>

    <div class="content">
        Site para Gerenciamento e consultas de livros!
    </div>

</main>